@import url('http://fonts.googleapis.com/css?family=Staatliches');

/* tutto */

.shadow
{
    box-shadow: 0 7px 11px 0 #5a5a5a8c;
}

div.all
{
    position: relative;
    width: auto;
    max-width: 450px;
    min-width: 350px;
    height: auto;
    margin: 0 auto;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #303134;
    border-radius: 0 0 10px 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #4d4e52;
    border-radius: 0 0 10px 10px;
}


/* Titolo */

#title
{
    position: relative;
    background-color: #303134;
    left: 2%;
    width: 96%;
    height: auto;
    border-radius: 0px 0px 60px 60px;
    text-align: center;
}

/* Barra di ricerca */

.searchM
{
    position: absolute;
    left: 70px;
    right: 70px;
    padding: 10px;
    background-color: #303134;
    width: auto;
    height: 20px;
    color: white;
    border-radius: 40px 40px 40px 40px;
    white-space: nowrap;
    overflow: hidden;
}

#sear
{
    top: 210px;
    transition: top 0.2s;
}

/* #backsearch sfondo searchbar
{
    position: absolute;
    top: 205px;
    left: 20px;
    right: 20px;
    background-color: #303134;
    width: auto;
    height: 80px;
    border-radius: 40px 40px 40px 40px;
}
*/

#backsearch /*sfondo searchbar*/
{
    position: absolute;
    top: 205px;
    left: 20px;
    right: 90%;
    background-color: #303134;
    height: 80px;
    min-width: 80px;
    border-radius: 40px 40px 40px 40px;
    transition: right 0.5s;
}

#backphoto /*retro logo photo*/
{
    position: absolute;
    top: 205px;
    left: 120px;
    background-color: #303134;
    height: 80px;
    width: 80px;
    border-radius: 40px 40px 40px 40px;
}

#backdoc /*retro documenti*/
{
    position: absolute;
    top: 205px;
    left: 220px;
    background-color: #303134;
    height: 80px;
    width: 80px;
    border-radius: 40px 40px 40px 40px;
}

input.search 
{
    position: absolute;
    display: inline;
    height: 50px;
    width: auto;
    top: 220px;
    left: 30px;
    right: 80px;
    border: none;
    padding: 0px 10px 0px 10px;
    font-family: 'Staatliches', serif;
    background-color: transparent;
    font-size: 40px;
    color:#dfdfdf;
}

::-webkit-input-placeholder { color: #dfdfdf;}
::-moz-input-placeholder { color: #dfdfdf}
::-ms-input-placeholder { color: #dfdfdf}

input.search:focus 
{
    outline:none;
}


button.button1 /*bottone cerca*/
{
    position: absolute;
    top: 220px;
    left: 35px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
}


button.button2 /*bottone cancella*/
{
    position: absolute;
    top: 220px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
}

button.button3 /*bottone cerca*/
{
    position: absolute;
    top: 220px;
    left: 135px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    transition: 0.2s;
}

button.button3:active
{
    transform: scale(0.90);
}

button.button4 /*bottone documenti*/
{
    position: absolute;
    top: 220px;
    left: 235px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
}


.fa-search
{
    color:#dfdfdf;
}


/* bidoni */


.flex-container {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: top 0.3s;
}
  
.content-container {
    height: 300px;
    background: #303134;
    line-height: 70px;
    text-align: center;
    color: white;
    width: 100%;
    margin: 10px 0;
    border-radius: 30px 30px 0 0;
}

.content-containerE {
    height: 200px;
    background: #4d4e52;
    color: white;
    width: 100%;
    margin: -30px 0 10px 0;
    border-radius: 0 0 10px 30px;
    overflow-y: scroll;
    scrollbar-color: rgb(32, 22, 43) rgb(63, 71, 63)en;
    scrollbar-width: thin;
}
  
.column {
    padding: 0 2%;
    box-sizing: border-box;
    flex: 50%;
    max-width: 50%;
}

  
@media (max-width: 350px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}



.Errore{
    height: auto;
    left: 10%;
    right: 10%;
    font-size: 30px;
    background: #303134;
    line-height: 70px;
    text-align: center;
    color: white;
    margin: 10px 20px;
    border-radius: 30px;
}


#notifica
{
    background: #303134;
    width: 80%;
    font-size: 18px;
    text-align: center;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    margin: 0 auto;
    color: white;
}

#docu
{
    background: #303134;
    width: 70%;
    font-size: 18px;
    text-align: center;
    height: auto;
    padding: 30px 30px;
    border-radius: 30px;
    margin: 0 auto;
    color: white;
}

#notificaC
{
    background: #4d4e52;
    border-radius: 30px;
    height: auto;
    color: white;
    width: 20%;
    padding: 20px;
    margin: 0 auto;
    transition: 0.2s;
}

#invia
{
    background: #4d4e52;
    border-radius: 30px;
    height: auto;
    color: white;
    width: 20%;
    padding: 20px;
    margin: 0 auto;
    transition: 0.2s;
}

#lax
{
    margin: auto 0px auto auto;
    width: 30px;
    transition: 0.2s;
}

#lax:active
{
    transform: scale(0.90);
}

#invia:active
{
    transform: scale(0.90);
}

#notificaC:active
{
    transform: scale(0.90);
}
